.challenge-component-root {
    background: white;
    padding: 30px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid #eceff1;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    margin-bottom: 20px;

    .description {
        min-height: 80px;
    }

    .points {
        position: relative;
        width: max-content;
        left: 100%;
        transform: translate(-100%, 0%);
        margin-top: 45px;
        padding-right: 20px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        letter-spacing: .1em;
        color: #000000a6;
    }
}