.sidebar-root {
    position: fixed;
    top: calc(0% + 40px);
    left: 0;
    right: 0;
    width: 225px;
    bottom: 0;
    background: white;
    padding: 10px 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

    
    .option-container {
        width: 225px;
        height: 100%;

        .inner-container {
            position: absolute;
            width: inherit;
            .sidebar-option-link {
                color: black;
                cursor: pointer;
                text-decoration: none;
                
                &.active {
                    .sidebar-option {
                        border: 2px solid #676458ba;
                        background: #e9ecff;
                    }
                }
            }
            
            &.top {
                top: 0%;
                margin-top: 10px;

                .sign-button {
                    background: white;
                    padding: 6px 20px;
                    border-radius: 5px;
                    font-size: 24px;
                    user-select: none;
                    cursor: pointer;
                    border: 1.2px solid #8080808c;
                    transition: background-color 0.2s ease-in-out;
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;

                    &:hover {
                        color: white;
                        background: #005200;
                        border: 1.2px solid #050c008f;
                    }
                }
    
                .sidebar-option {
                    margin-bottom: 5px;
                }
            }
    
            &.bottom {
                bottom: 0%;
                margin-bottom: 10px;
    
                .sidebar-option {
                    margin-top: 5px;
                }
            }
        }
    }

    .sidebar-hide-button {
        display: none;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(-5px, -50%) scale(1.4);
        cursor: pointer;
    }
}