.sidebar-option {
    padding: 5px 10px;
    border: 2px solid #d8d8d8;;
    user-select: none;
    cursor: pointer;
    height: 20px;
    border-radius: 4px;

    &:hover {
        border: 2px solid #676458ba;
    }

    .sidebar-option-text {
        position: absolute;
        left: calc(0% + 10px);
        width: max-content;
    }

    svg {
        position: absolute;
        right: calc(0% + 10px);
        transform: translateY(1.5px) scale(1.28)
    }

    &.rankings {
        svg {
            transform: translateY(2px) scale(1.35)
        }
    }

    &.groups {
        svg {
            transform: translateY(2.2px) scale(1.35)
        }
    }

}