.profile-page-root {

    .profile-container {

        background: white;
        padding: 30px;
        height: 100%;
        border-radius: 8px;
        border: 1px solid #eceff1;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        margin-bottom: 20px;
        
        &.top {
            .logo {
                width: 150px;
                height: 150px;
                background: #d4d4d4;
                border-radius: 80px;
                font-size: 75px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.84), 0 1px 3px 1px rgba(60,64,67,.15);
                svg {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        
            .name {
                font-size: 1.8em;
                margin-top: 20px;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
            }
        
            .yeti-percenti {
                margin-top: 15px;
                font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
                line-height: 1.5;
                text-align: center;
                white-space: nowrap;
                text-transform: uppercase;
                letter-spacing: .15em;
                font-weight: bolder;
                color: rgba(16, 16, 16, 0.65);
                font-size: 1.1em;
            }
        }

        &.bio {
            .title {
                font-size: 2em;
                margin-bottom: 20px;
            }

            .description {
                font-size: 1.5em;
            }

        }

        &.achievements {
            .achievements-title {
                font-size: 2em;
                margin-bottom: 20px;
            }

            .achievement-group {
                margin-left: 10px;
                padding: 5px;
                margin-bottom: 10px;
                .logo {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    margin-right: 10px;
                    vertical-align: top;

                    &.zero {
                        background: brown;
                    }

                    &.one {
                        background: silver;
                    }

                    &.two {
                        background: gold;
                    }

                }
           

                .description {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 1.4em;
                    transform: translateY(8px);
                }
            }
        }

        &.challenges {
            .challenges-title {
                font-size: 2em;
                margin-bottom: 20px;
            }

            .challenge-group {
                margin-left: 10px;
                padding: 5px;
                margin-bottom: 10px;
                .logo {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    margin-right: 10px;
                    vertical-align: top;

                    &.zero {
                        background: silver;
                    }

                    &.one {
                        background: silver;
                    }

                    &.two {
                        background: gold;
                    }

                }
           

                .description {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 1.4em;
                    transform: translateY(8px);
                }
            }
        }


    }
}