.parent-container {
    width: 100%;
    height: 100%;
    .left-container {
        color: #ffffffa6;
        // border-style: solid;
        // border-color: red;
        width: 29%;
        height: 100%;
        float: left;
        .question-div {
            width: 99%;
            height: 59%;
            // border-style: solid;
            // border-color: blue;
            text-align: center;
        }
        .console-div {
            width: 99%;
            height: 39%;
            // border-style: solid;
            // border-color: blue;
            background-color: #141414;
            border-radius: 8px;
        }
    }
    .right-container {
        // border-style: solid;
        // border-color: red;
        width: 70%;
        height: 100%;
        float: right;
        .ace_editor {
            width: 100% !important;
            height: 100% !important;
            margin-top: 5px;
        }
    }
}

.problem-start {
    background-color: #141414;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ffffffa6;
    // border-style: solid;
    // border-color: red;
    width: 500px;
    height: 350px;
    position: relative;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(77, 77, 77, 0.3), 0 2px 6px 2px rgba(255, 255, 255, 0.15);
    .center-align {
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    h1 {
        text-decoration: underline;
    }
}

.bottom-right-bar {
    width: max-content;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: max-content;
    // border-style: solid;
    // border-color: blue;
}

.problem-button {
    min-width: 200px;
    margin: 0px 5px;
    display: inline-block;
    border-radius: 4px;
    background-color: #282c34;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
}

.problem-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.problem-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.problem-button:hover span {
    padding-right: 25px;
}

.problem-button:hover span:after {
    opacity: 1;
    right: 0;
}