.parent-container {
    width: 100%;
    height: 100%;
    .left-container {
        color: #ffffffa6;
        // border-style: solid;
        // border-color: red;
        width: 29%;
        height: 100%;
        float: left;
        .question-div {
            width: 99%;
            height: 50%;
            text-align: center;
            border-style: solid;
            border-color: #ffffff59;
            background-color: #1010108f;
            border-radius: 8px;
        }
        .console-div {
            width: 99%;
            height: 39%;
            // border-style: solid;
            // border-color: blue;
            border-style: solid;
            border-color: #10101063;
            background-color: #1010108f;
            border-radius: 8px;
        }
    }
    .right-container {
        // border-style: solid;
        // border-color: red;
        width: 70%;
        height: 100%;
        float: right;
        .ace_editor {
            width: 100% !important;
            height: 100% !important;
            margin-top: 5px;
        }
    }
}

.problem-start {
    background-color: #141414;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ffffffa6;
    // border-style: solid;
    // border-color: red;
    width: 500px;
    height: 350px;
    position: relative;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(77, 77, 77, 0.3), 0 2px 6px 2px rgba(255, 255, 255, 0.15);
    .center-align {
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    h1 {
        text-decoration: underline;
    }
}

h1 {
    color: #ffffffa6;
}

.bottom-right-bar {
    width: max-content;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: max-content;
    // border-style: solid;
    // border-color: blue;
}

.hint-div {
    width: max-content;
    margin: 2px auto;
}

.problem-button {
    min-width: 250px;
    margin: 0px 5px;
    display: inline-block;
    border-radius: 4px;
    background-color: #1e2127;
    border: none;
    color: #ffffffa6;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
}

.problem-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.problem-button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.problem-button:hover {
    background-color: #3e4452;
}

.problem-button:hover span {
    padding-right: 25px;
}

.problem-button:hover span:after {
    opacity: 1;
    right: 0;
}

.ReactModal__Overlay {
    z-index: 7;
}

.hint-modal {
    border-radius: 20px;
    border: dashed 5px #353535;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #252525;
    width: 40%;
    height: 40%;
    color: #ffffffa6;
}

.hint-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 46, 46, 0.514);
}

.hint-modal-div {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: max-content;
    text-align: center;
    text-decoration: none !important;
    h1 {
        margin: 5px;
    }
}