.container {
    overflow-y: auto;
    height: 80vh;
    position: relative;
    top: 10%;
    .react-table-root {
        display: grid;
        grid-template-columns: 1fr;
        .table-header {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            .header-item {
                text-align: center;
                padding: 30px 0px;
                font: 500 22px monospace !important;
                color: #f92749;
                font-size: 30px !important;
                position: sticky;
                background: #141414;
            }
        }
        .table-row {
            font: 500 22px monospace !important;
            padding: 10px 0px;
            color: #ffffffa6;
            background-color: #2c2c2c;
            border: solid;
            border-color: #191919c4;
            transition: 0.8s;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            border-radius: 8px;
            &:hover {
                color: #9081f1;
                background: #202020;
                border-color: #0f0f0f;
            }
            .row-item {
                width: max-content;
                height: max-content;
                margin: auto;
            }
        }
    }
}

.ranking-button {
    z-index: 10;
    border-radius: 4px;
    background-color: #1e2127;
    border-radius: 10px;
    border-color: #f92749 !important;
    background-color: #141414;
    color: #f8f8f2;
    text-align: center;
    font: 500 20px monospace !important;
    padding: 5px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.ranking-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding: 6px 0px;
}

.ranking-button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}

.ranking-button:hover {
    background-color: #f9274a3d;
}

.ranking-button:hover span {
    padding-right: 15px;
}

.ranking-button:hover span:after {
    opacity: 1;
    right: 0;
}