body {
    background-color: #171c2b;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#171c2b, #0f0e3a);
    /* Standard syntax (must be last) */
    font-family: 'Patua One', cursive;
    height: 97vh;
}

#root {
    .root-inner-container {
        position: absolute;
        width: 99%;
        top: 80px;
        height: calc(100% - 100px);
    }
}

// import base - contains global styles, such as resets, typography, colors
@import './mixins';
// import components- contains each self-contained component in its own .scss partial
@import './components/navbar';
@import './components/Sidebar/index';
@import './components/Sidebar/sidebarOption';
// import pages contains page-specific styling
@import 'pages/home';
@import 'pages/notFound';
@import 'pages/selection';
@import 'pages/problem';